.left {
    float: left;
    }

.left1 {
float: left;
}
.right {
    float: right;
}

.navigator {
    margin-top: 24px;
    margin-right: 24px;
}

.container {
    width: 96%;
    padding: 150px;
    padding-left: 20px;
    text-align: center;
    margin: auto;
}

.input-form {
    width: 50%;
    margin: 24px auto;
}